body{
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#app{
    position: relative;
}

.blurred{
    filter: blur(3px);
}

.finish{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 40px;
    z-index: 2;
}

.finish .text{
    padding: 10px;
    background: white;
    border: 1px solid red;
}

.finish .restart{
    margin: 10px;
    padding: 10px;
    background: burlywood;
    border: 1px solid red;
}


h1{
    text-align: center;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;

}

.new{
    cursor: pointer;
}

.point{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: chartreuse;
    border-radius: 50%;
    border: 1px solid green;
}

.field{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    /* height: 600px; */
    margin: 20px auto;
    border: 3px solid black;
}

.box{
    height: 49px;
    width: 49.4px;
    background-color: lightgray;
    border: 1px solid black;
}

.box.flower{
    background-image: url('../img/flower.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.box.bomb{
    background-image: url('../img/bomb.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}