<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <!-- vue develop -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- vue production -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
    <!-- script -->
    <script src="./js/main.js" defer></script>
    <title>Campo minato</title>
</head>
<body>
    <div id="app">
        <div :class="gameover ? 'blurred' : '' ">
            <!-- <div v-if="gameover" class="finish">
                <div class="text">
                    GAMEOVER
                </div>
            </div> -->
            <h1>campo minato</h1>
            <div class="action">
                <div class="new" @click="restart">
                    new match
                </div>
                <div class="point">{{point}}</div>

            </div>
            <div class="field">
                <div v-for="(box, index) in boxes" :id="index" class="box" :class="box.style" @click="selectBox(index)">
                    <div v-if="box.clicked == false">{{index}}</div>
                    <div v-else>{{box.number}}</div>
                    
                </div>
            </div>

        </div>

        <div v-if="gameover" class="finish">
            <div class="text">
                GAMEOVER
            </div>
            <div class="restart" @click="restart">
                TRY AGAIN
            </div>
        </div>

        
    </div>
    
</body>
</html>